.btn {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    transition: all .5s ease-in;
    text-transform: uppercase;
    width: 100%;

    &.btn-default {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;

        &:hover {
            background-color: $white;
            color: #424242;
        }
    }

    &.btn-primary {
        background-color: $pink;
        color: #fff;
        transition: ease .5s all;

        &:hover {
            background-color:darken($pink, 3);
        }
    }

    &.btn-small {
        width: 50%;
        @media screen and (min-width: 1024px) {
            width: 15%;
        }
    }
}
