.cards {
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
.card {
    margin: 0 0 36px;
    @media screen and (min-width: 1024px) {
        width: calc(25% - 16px);
    }

    &-picture {
        width: 100%;
    }

    &-label {
        display: block;
        text-align: center;
        transform: translateY(-16px);
        position: relative;
        margin-bottom: 0;
        
        &__text {
            background-color: $navyBlue;
            color: #fff;
            font-size: 0.75rem;
            text-transform: uppercase;
            padding: 4px 16px;
        }
    }

    &-text {
        font-size: 0.85rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}
