.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 16px;
    @media screen and (min-width: 1024px) {
        padding: 16px 48px;
    }

    &.full {
        padding: 0;
    }

    &-title {
        letter-spacing: 4px;
        margin: 24px 0;
        text-align: center;
        text-transform: uppercase;

        &::before {
            bottom: 8px;
            border-top: 1px solid $pink;
            content: "";
            display: block;
            transform: translate(calc(50vw - 36px));
            position: relative;
            width: 24px;
            @media screen and (min-width: 1024px) {
                border-top: 2px solid $pink;
                transform: translate(calc(50vw - 60px));
            }
        }
    }
}
