.newsletter {
    background-image: url('https://img.freepik.com/fotos-gratis/fundo-de-textura-de-ardosia_24972-292.jpg?size=626&ext=jpg');
    color: $white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 32px;
    text-align: center;

    &-title {

    }

    &-text {
        margin-bottom: 24px;
    }

}
