.is-center {
    text-align: center !important;
}

.is-hidden { 
    display: none !important;
}

.mb-24 {
    margin-bottom: 24px!important;
}

.deco-none {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.has-error {
    color: #F44336;
}

.bg-grey {
    background: #333333;
}

.bg-lightgrey {
    background-color: $lightGray;
}

.bg-blue {
    background: $navyBlue;
}
