// estilos para os headings h1-h6, blockquotes, a, buttons, etc

main {
    font-family: $font;
    min-height: calc(100vh - 70px - 44px);
    position: relative;
    margin: 0 0 24px;
}


.flex {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    height: 90vh;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

button,
input {
    background: none;
    border: none;

    &:focus,
    &:active {
        outline: 0;
    }
}

form {
    background-color: #F5F5F5;
    padding: 48px;
    border-radius: 4px;
    box-shadow: 0 0 8px 1px rgba(136, 136, 136, 0.4);
}
